beautifulsoup4~=4.9.3
sqlalchemy~=1.4.3
python-dotenv~=0.16.0
requests~=2.25.1
spacytextblob~=0.1.7
spacy>=3.0.0,<4.0.0
en_core_web_sm>=3.0.0
en_core_web_md>=3.0.0
google==3.0.0
sentence-transformers==1.0.3
